<article class="main-header">
  <header class="header">
    <div class="header-container">
      <nav class="main-nav">
        <a href="" class="logo">
          <svg
            class="logo-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="transparent"
          >
            <use href="/src/images/icons.svg#logo"></use>
          </svg>
          <span class="header-logo-txt">Filmoteka</span>
        </a>
        <ul class="header-list">
          <li class="header-list-item active-nav">
            <a href="./index.html" class="homepage-nav">HOME</a>
          </li>
          <li class="header-list-item">
            <a href="./library.html" class="library-nav">MY LIBRARY</a>
          </li>
        </ul>
      </nav>

      <div class="form-container">
        <form class="search-form">
          <input
            type="input"
            class="search-input"
            placeholder="Search for movies"
          />
          <button type="submit" class="search-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="transparent"
              class="search-icon"
            >
              <use href="/src/images/icons.svg#search"></use>
            </svg>
          </button>
        </form>

        <p class="error-msg is-hidden">
          Movie not found. Enter the correct movie name or keyword and try
          again.
        </p>
      </div>
    </div>
  </header>
</article>
