
<article class="main-header">
    <header class="library-header">
        <div class="header-container header-section">
            <nav class="main-nav">
                <a href="" class="logo">
                    <svg class="logo-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="transparent">
                        <use href="/src/images/icons.svg#logo"></use>
                    </svg>
                    <span class="header-logo-txt">Filmoteka</span>
                </a>
                <ul class="header-list">
                    <li class="header-list-item active-nav">
                        <a href="./index.html" class="homepage-nav">HOME</a>
                    </li>
                    <li class="header-list-item">
                        <a href="./library.html" class="library-nav">MY LIBRARY</a>
                    </li>
                </ul>
        </nav>
        </div>
        
        <div class="buttons-block">
            <button type="library-button" data-value="watched" class="button" id="btn">Watched
            </button>
        
            <button type="library-button" data-value="queue" class="button" id="btn">Queue
            </button>
        </div>
        </div>
        </header>
</article>
