.header-main {
  margin: 0 auto;
  padding: 40px 0 44px 0;
  height: 230px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.56);
  background-blend-mode: overlay;
  @media screen {
    background-image: url('/src/images/header-main/header-mob-1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url('/src/images/header-main/header-mob-2x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 45px 0 45px 0;
    height: 216px;

    background-image: url('/src/images/header-main/header-tab-1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url('/src/images/header-main/header-tab-2x.jpg');
    }
  }

  @media (min-width: 1280px) {
    padding: 45px 0 44px 0;
    height: 216px;

    background-image: url('/src/images/header-main/header-desk-1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url('/src/images/header-main/header-desk-2x.jpg');
    }
  }
}

.header-main__container {
  @extend .container;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header-form__search {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 336;
  }
}

.header-form__input {
  width: 100%;
  outline: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $color-header;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-header;
  padding-bottom: 4px;
  transition: border-bottom 250ms ease;

  &:hover,
  &:focus-within {
    border-bottom: 3px solid #ff6b08;
  }

  &::placeholder {
    color: $color-header;
  }
}

.header-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.4);
  }
}

.header-form__warning {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $color-link-underline;
  transition: opacity 500ms $timing-function;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
